
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Reset base para aplicaciones Single Page */
html, body, #root {
  height: 100vh;
  height: -webkit-fill-available; /* Ajuste para navegadores móviles */
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbars personalizadas minimalistas */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1; 
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}
